* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

/* NAVBAR STYLES */
.navbar {
    width: 100%;
    padding: 20px 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.nav-logo {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.nav-items {
    display: flex;
    gap: 10px;
}

/* PRODUCTS STYLES */
.products {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}
.products-container {
    width: 300px;
    padding: 10px;
}
